header {
    width: 100%;
    background-color: $main-color;
    display: flex;
      justify-content: center;
    .container {
            width: 100%;
            background-color: $main-color;
            height: 55px;
            
        }
    
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px 15px;
    
        }
    
        .contacts {
          display: flex;
            a {
              color: white;
              text-decoration: none;
              display: flex;
              align-items: center;
              margin-right: 20px;
              .contacts-text {
                margin-left: 10px;
                display: none;
                font-size: 9px;
                font-weight: 400;
              }
            }
        }
    
        .language {
            display: flex;
            flex-direction: row-reverse;
            
            a>img {
                margin-left: 5px;
            }
    
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                    line-height: 16px;
            }
            a:hover img {
                transform: rotate(180deg);
            }
        }
}


@media (min-width: 768px) {
  header {
    .contacts {
    a {
      margin-right: 20px;
      .contacts-text {
        display: block;
      }
    }
  }
  }
}
@media (min-width: 1440px) {
    header {
        .container {
                width: 1440px;
            }
    }
}